.songSectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 0 0;
}

.songSectionTitle {
  color: #fff;
}

.cardListShowAll {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 40px;
}

.songGenresContainer {
  color: #fff;
}
