.faqContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq {
  color: #fff;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  padding: 2rem 0;
}

.accordionContainer {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 75vw;
  margin-bottom: 24px;
}

.accordionSummary {
  background-color: #121212;
  color: #fff;
  border-radius: 10px;
}

.accordionSummaryText {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
}

.accordionContentText {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 10px 1rem;
}

/* tablet */
@media only screen and (max-width: 850px) {
  .faqContainer {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .faq {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    padding: 20px 0;
  }

  .accordionContainer {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 75vw;
    margin-bottom: 20px;
  }

  .accordionSummaryText {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
  }

  .accordionContentText {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 10px;
  }
}

/* mobile */
@media only screen and (max-width: 420px) {
  .faqContainer {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .faq {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    padding: 12px 0;
  }

  .accordionContainer {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 75vw;
    margin-bottom: 16px;
  }

  .accordionSummaryText {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
  }

  .accordionContentText {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
  }
}
