.desktopContainer {
  background-color: #34c94b;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  overflow: hidden;
}

.logo {
  cursor: pointer;
}

.TabletMobileContainer {
  padding: 1rem;
  background-color: #34c94b;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.navList {
  padding: 8px;
  background-color: #121212;
  color: #34c94b;
  border-radius: 50%;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 1rem;
}
